.App {
  text-align: center;
}

.spending-chart {
  position: relative;
}

.amount-saved-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.amount-saved-text p {
  margin: 0;
}

.label-save-up-to {
  font-size: 1rem;
}

.label-amount-saved {
  font-size: 2rem;
}